<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ko Ko Kyaw</title>

    <!-- <link  rel="stylesheet"href="/website/css/uicons-regular-rounded.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-brands/css/uicons-brands.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../css/card.css">
    <link rel="stylesheet" href="../css/portfolio.css">
</head>

<body>
    <span id="themeIcon" class="theme-icon" onclick="toggleTheme()"></span>
    <a class="back-icon" href="../index.html">
        <i class="fi fi-rr-arrow-small-left"></i>
    </a>
    <div class="portfolio-details-section flex-center">
        <img class="portfolio-details-img" src="../images/hrms.png" alt="">
        <div class="small-section text-center">
            <h3>Human Resource Management System(HRMS)</h3>
            <p>
                The Human Resources Management System (HRMS) is a web application designed to streamline HR operations,
                making it easier for businesses to manage employee records, leave requests, and access control based on
                roles. This project focuses on improving HR efficiency through an intuitive, user-friendly interface.
            </p>
        </div>

        <!-- <img class="portfolio-details-img" src="../images/hrms-prototype.png" alt=""> -->
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="450"
            src="https://embed.figma.com/design/l69HOvioHNsNDFz7vhGvSz/HRMS264?node-id=2-254&embed-host=share"
            allowfullscreen></iframe>
        <div class="small-section">
            <h5><b>Figma Design & Live Demo</b></h5>
            <ul>
                <li>Design File(Figma) - <a
                        href="https://www.figma.com/design/l69HOvioHNsNDFz7vhGvSz/HRMS264?node-id=2-254&t=pFf0A5AhQKzyA0Xh-1"
                        target="_blank">Click here to view Figma design source</a></li>
                <li>Prototype Design(Figma) - <a
                        href="https://www.figma.com/proto/l69HOvioHNsNDFz7vhGvSz/HRMS264?page-id=2%3A254&node-id=134-2378&node-type=frame&viewport=227%2C375%2C0.07&t=NH2Fe9JygLargMRC-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=134%3A2378"
                        target="_blank">Click here to view Figma prototype design</a></li>
            </ul>
            <p><i><b>Note: In the live demo, all pages are linked with the wireframe. All form elements have actions
                        (hover, click). To add a value in a textbox, click and press the “V” key. To delete the value,
                        press the “Esc” key.</b></i></p>
        </div>

        <img class="portfolio-details-img" src="../images/hrms-git.png" alt="">
        <div class="small-section">
            <h5><b>GitHub Repository</b></h5>
            <p>This repository contains the entire frontend of the HRMS built using Angular 18. It utilizes Ant Design
                (ng-zorro) for UI components and NgRx for state management. Please note, only the frontend has been
                developed. You can set up and test the project by following the instructions in the README file, which
                also provides steps for running the mock backend using Mockoon.</p>
            <ul>
                <li>GitHub Link(Source) - <a href="https://github.com/KoKyaw-jolly/hrms-264" target="_blank">Click here
                        to view GitHub link</a></li>
            </ul>
        </div>
        <div class="small-section">
            <h5><b>Key Features</b></h5>
            <ul>
                <li>Interactive Figma prototype showcasing full UI/UX design</li>
                <li>Fully functional demo with hover, click, and form input actions</li>
                <li>Frontend developed using Angular 18 with a focus on performance and scalability</li>
                <li>UI components built with Ant Design System (ng-zorro)</li>
                <li>NgRx used for state management</li>
            </ul>
            <p><b>Current Status:</b> This project is currently under development. To test the project, use the demo
                with Mockoon for
                hosting mock data. </p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="../main.js"></script>
</body>

</html>